body,
html{
    width: 100%;
    height: 100%;
    margin: 0;
}

.band{
    text-align: center;
}

.band .left,
.band .right{
    float: none;
}

.band .band-inner{
    width: 980px;
}

.band .hgroup{
    text-align: center;
}

.band .drawer{
    width: 980px;
    text-align: center;
}

.band .drawer .drawer-body,
.band .drawer .box{
    text-align: left;
}

.band .drawer-input label{
    width: 100px;
}

.band .box{
    width: 460px;
    margin: 0 auto;
}

.band .icon img.hover{
    width: auto;
    height: auto;
}