
/* FASCIA */
.band{
    position: relative;
    width: 100%;
    padding: 2em 0;
    line-height: normal;
    font-family: 'Titillium Web', sans-serif;
}

.band p {
    margin: 0;
    padding: 0;
}

.band-inner{
    display: table;
    border-collapse: separate;
    border-spacing: 1em 0;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.band-inner:not(:first-child){
    margin-top: 2em;
}

.band-inner > *{
    border-collapse: collapse;
    border-spacing: 0;
}

/* FONT SIZE */
@media (max-width: 1200px){.band{font-size: 96%}}
@media (max-width: 979px){.band{font-size: 92%}}
@media (max-width: 767px){.band{font-size: 84%}}
@media (max-width: 420px){.band{font-size: 76%}}

/* GENERIC */
.left{
    float: left;
}

.right{
    float: right;
}


/* LINK E PULSANTI */
.band a,
.band a:hover{
    position: relative;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    color: inherit;
    text-decoration: none;
    transition: all 0.5s;
}

.band button,
.band a.button{
    font-size: 1.5em;
    line-height: 110%;
    padding: 0.1em 0.4em;
    border: 1px solid transparent;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
}

.band a.button{
    line-height: 2.7em;
}

.band button.arrow,
.band a.button.arrow,
.band input[type="button"].arrow,
.band input[type="reset"].arrow,
.band input[type="submit"].arrow{
    padding-right: 1.2em;
}

.band button.arrow:after,
.band a.button.arrow:after,
.band input[type="button"].arrow:after,
.band input[type="reset"].arrow:after,
.band input[type="submit"].arrow:after{
    content: ">";
    font-size: inherit;
    color: inherit;
    line-height: 1em;
    position: absolute;
    top: 50%;
    right: 0.2em;
    z-index: 1;
    margin-top: -0.6em;
}

/* CASSETTINO */
.band .drawer{
    display: table-cell;
    position: relative;
    width: 100%;
    vertical-align: top;
    font-size: 19px;
}

/* BOX */
.box{
    padding: 20px 25px 32px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* ALLINEAMENTI TESTO */
.band .text-left{
    text-align: left;
}

.band .text-center{
    text-align: center;
}

.band .text-right{
    text-align: right;
}

.band .text-justify{
    text-align: justify;
}

/* TITOLI */
.band .hgroup{
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    font-weight: 600;
}

.band > .hgroup,
.band form > .hgroup{
    max-width: 100%;
    padding: 0 1em;
}

.band > .hgroup.border,
.band form > .hgroup.border{
    border-bottom: 3px solid #b5b5b5;
}

h1, h2, h3, h4, h5, h6{
    margin: 0 auto;
}

.band h1{
    font-size: 22px;
}

.band h2{
    font-size: 20px;
}

.band h3{
    font-size: 1.3em;
}

.band h4{
    font-size: 1.1em;
}

.band h5{
    font-size: 0.9em;
}

.band h6{
    font-size: 0.7em;
}

.band > .hgroup > h1,
.band > .hgroup > h2,
.band > .hgroup > h3,
.band > .hgroup > h4,
.band > .hgroup > h5,
.band > .hgroup > h6,
.band form > .hgroup > h1,
.band form > .hgroup > h2,
.band form > .hgroup > h3,
.band form > .hgroup > h4,
.band form > .hgroup > h5,
.band form > .hgroup > h6{
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
}

.box > .hgroup,
.box form > .hgroup{
    border-bottom: 2px solid #a8a8a8;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.box > .hgroup > h1,
.box form > .hgroup > h1{
    font-size: 1.5em;
}

.box > .hgroup > h2,
.box form > .hgroup > h2{
    font-size: 1.2em;
}

.box > .hgroup > h3,
.box > .hgroup > h4,
.box > .hgroup > h5,
.box > .hgroup > h6,
.box form > .hgroup > h3,
.box form > .hgroup > h4,
.box form > .hgroup > h5,
.box form > .hgroup > h6{
    font-size: 1em;
}

/* CONTENUTI */
.drawer-body{
    position: relative;
    overflow: hidden;
    width: 100%;
}

/* TESTO */
.band .drawer-txt{
    vertical-align: top;
}

.drawer.imgcap .drawer-txt{
    display: table;
    width: 100%;
}

.drawer.imgcap .drawer-txt > *{
    display: table-cell;
}

.band .upper{
    text-transform: uppercase;
}

/* IMMAGINI */
.band .drawer-img{
    position: relative;
    margin: 2% auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.band .drawer img {
    max-width: 100%;
}

.band .drawer-img.multi{
    overflow: hidden;
}

.band .drawer-img.multi > span{
    float: left;
    margin-right: 10px;
}

.band .drawer-img.left{
    margin: 0 2% 2% 0;
}

.band .drawer-img.right{
    margin: 0 0 2% 2%;
}

.band .hgroup img.left{
    margin: 2% 2% 0 0;
}

.band .hgroup img.right{
    margin: 2% 0 0 2%;
}

.band .drawer-img span{
    position: relative;
}

.band .drawer-img img{
    display: table-cell;
    max-width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.band .drawer-img:not(.no-border) img{
    /*border: 10px solid #ececec;*/
    margin: 10px;
}

.band .box .drawer-img img{
    border: 0;
}

.band .drawer-img .hgroup{
    text-align: center;
}

.band .drawer-img.fullWidth,
.band .drawer-img.fullWidth span,
.band .drawer-img.fullWidth img{
    width: 100%;
}

.band .drawer-img.rounded img,
.band .drawer-img.rounded i{
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    border-radius: 15%;
}

.band .drawer-img.oval img,
.band .drawer-img.oval i{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.band .drawer-img i {
    font-size: 3em !important;
    width: 1.2em;
    padding: 0.2em;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
}

.band .icon{
    position: relative;
    margin: 0.5em auto;
    transition: all 0.4s;
    cursor: pointer;
}

.band .icon:hover{
    background: #009999;
}

.band .icon  img{
    border: 0px !important;
}

.band .icon img.hover{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s;
}

/*.band .icon:hover img.hover{
    opacity: 1;
}*/

.drawer-body:hover img.hover {
    opacity: 1;
}

.band .icon.oval{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/* LINK */
.band p.drawer-link a:not(.button):before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
    margin-top: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    line-height: 0px;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    opacity: 0;
    transition: opacity 0.5s;
}

.band .drawer-link a:not(.button):hover{
    padding-left: 14px;
}

.band .drawer-link a:not(.button):hover:before{
    opacity: 1;
}

/* FORM */
.band form .drawer{
    width: auto;
}

.band form .drawer-body{
}

.band .drawer-input{
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
}

.band .drawer-input > *{
    display: table-cell;
    width: 100%;
}

.band .drawer-input > label{
    width: 18%;
    height: 30px;
    text-align: left;
    padding-right: 8px;
    font-weight: bold;
    text-transform: uppercase;
}

.band .drawer-input.required > label:after{
    content: "*";
    color: #f00;
}

.band input{
    width: auto;
}

.band input[type="color"],
.band input[type="date"],
.band input[type="datetime"],
.band input[type="datetime-local"],
.band input[type="email"],
.band input[type="month"],
.band input[type="number"],
.band input[type="password"],
.band input[type="search"],
.band input[type="tel"],
.band input[type="text"],
.band input[type="time"],
.band input[type="url"],
.band input[type="week"]{
    height: 32px;
    margin: 0;
    padding: 2px 6px;
    border: 1px solid;
    outline: none;
    font: 1em 'Titillium Web', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.band input[type="checkbox"],
.band input[type="submit"]{
    width: auto;
}

.band textarea{
    min-height: 240px;
    padding: 2px 6px;
    margin: 0;
    border: 1px solid;
    font: 1em 'Titillium Web', sans-serif;
    resize: none;
    overflow: auto;
    outline: none;
}

.band textarea::-webkit-scrollbar {
    width: 0.5em;
}

.band input[type="button"],
.band input[type="reset"],
.band input[type="submit"]{
    font-size: 1.2em;
    line-height: 110%;
    padding: 0.1em 0.4em;
    border: 1px solid;
    cursor: pointer;
    transition: all 0.5s;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {  
    font: 1em italic 'Titillium Web', sans-serif;
    color: #9f9f9f;
}

/* MAP */
#mapDiv{
    overflow: hidden;
}

#mapDiv span{
    max-width: 100%;
}

/* CASSETTINO FEEDBACK */
.band.feedback .drawer-body{
    display: table;
}

.band.feedback .drawer-body > *{
    display: table-cell;
}

.band.feedback .drawer-body .drawer-img{
    position: relative;
    padding-right: 1em;
}

.band.feedback .drawer-body .drawer-img img{
    max-width: 200px;
    max-height: 200px;
    min-width: 120px;
    min-height: 120px;
    box-sizing: content-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.band.feedback .drawer-body .drawer-img span{
    display: block;
    position: relative;
}

.band.feedback .drawer-body .drawer-img span:first-child:after{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: -1em;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 12px 10px 0;
    border-color: transparent #fff transparent transparent;
    background: transparent;
}

.band.feedback .drawer-body > .drawer-img > p{
    text-align: center;
    font-size: 80%;
    opacity: 0.8;
}

.band.feedback .drawer-body > .drawer-img > p.name{
    font-size: 110%;
    font-weight: bold;
    opacity: 1;
}


.band.feedback .drawer-body > .drawer-img > .hgroup{
    text-align: center;
    font-size: 60%;
}

.band.feedback .drawer-body > .drawer-txt{
    width: 100%;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    padding: 1em;
}

/* ROUND */
.band.roundUp{
    position: relative;
    z-index: 1;
    margin-top: 3em;
    padding-bottom: 3em;
}
.band.roundUp:before{
    content: "";
    position: absolute;
    top: -4em;
    left: 50%;
    z-index: 0;
    margin-left: -80%;
    width: 160%;
    height: 8em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: inherit;
}
.band.roundDown{
    position: relative;
    z-index: 1;
    margin-bottom: 3em;
    padding-top: 3em;
}
.band.roundDown:after{
    content: "";
    position: absolute;
    bottom: -4em;
    left: 50%;
    z-index: -1;
    margin-left: -80%;
    width: 160%;
    height: 8em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: inherit;
}

/* STRUTTURA 1 (tutti i cassettini hanno la stessa larghezza) */
.band.s1 .band-inner{
    table-layout: fixed;
}

/* STRUTTURA 2 (il primo cassettino è più grande) */
.band.s2 .drawer{
    width: 35%;
}

.band.s2 .drawer:first-child{
    width: 65%;
}

/* STRUTTURA 3 (l'ultimo cassettino è più grande) */
.band.s3 .drawer{
    width: 35%;
}

.band.s3 .drawer:last-child{
    width: 65%;
}

/* MOBILE */
@media (max-width: 979px){
    .band:not(.m-no):not(.m767) .band-inner:not(.m-no):not(.m767):not(.m480),
    .band.m980 .band-inner:not(.m-no):not(.m767):not(.m480),
    .band-inner.m980{
        margin: 0 !important;
    }

    .band:not(.m-no):not(.m767):not(.m480) .drawer:not(.m-no):not(.m767):not(.m480),
    .band.m980 .drawer:not(.m-no):not(.m767):not(.m480),
    .drawer.m980{
        display: table-row;
    }

    .band:not(.m-no):not(.m767):not(.m480) .drawer-img > div:not(.icon) img,
    .band.m980 .drawer-img > div:not(.icon) img,
    .drawer.m980 .drawer-img > div:not(.icon) img{
        width: 100%;
    }

    .band:not(.m-no):not(.m767):not(.m480) .box:not(.m-no):not(.m767):not(.m480){
        margin: 1em 0;
    }

    .band:not(.m-no):not(.m767):not(.m480) .hgroup:not(.m-no):not(.m767):not(.m480) img:not(.m-no):not(.m767):not(.m480){
        margin: 0 !important;
    }
}

@media (max-width: 767px){
    .band:not(.m-no):not(.m480) .band-inner:not(.m-no):not(.m767):not(.m480),
    .band.m767 .band-inner:not(.m-no):not(.m767):not(.m480),
    .band-inner.m767{
        margin: 0 !important;
    }

    .band:not(.m-no):not(.m480) .drawer:not(.m-no):not(.m767):not(.m480),
    .band.m767 .drawer:not(.m-no):not(.m767):not(.m480),
    .drawer.m767{
        display: table-row;
    }

    .band:not(.m-no):not(.m480) .drawer-img > div:not(.icon) img,
    .band.m767 .drawer-img > div:not(.icon) img,
    .drawer.m767 .drawer-img > div:not(.icon) img{
        width: 100%;
    }

    .band:not(.m-no):not(.m480) .box:not(.m-no):not(.m480){
        margin: 1em 0;
    }

    .band:not(.m-no):not(.m480) .hgroup:not(.m-no):not(.m480) img:not(.m-no):not(.m480){
        margin: 0 !important;
    }
}

@media (max-width: 480px){
    .band:not(.m-no) .band-inner:not(.m-no):not(.m767):not(.m480),
    .band.m480 .band-inner:not(.m-no):not(.m767):not(.m480),
    .band-inner.m480{
        margin: 0 !important;
    }

    .band:not(.m-no) .drawer:not(.m-no):not(.m767):not(.m480)
    .band.m480 .drawer:not(.m-no):not(.m767):not(.m480)
    .drawer.m480{
        display: table-row;
    }

    .band:not(.m-no) .drawer-img > div:not(.icon) img,
    .band.m480 .drawer-img > div:not(.icon) img,
    .drawer.m480 .drawer-img > div:not(.icon) img{
        width: 100%;
    }

    .band:not(.m-no) .box:not(.m-no){
        margin: 1em 0;
    }

    .band:not(.m-no) .hgroup:not(.m-no) img:not(.m-no){
        margin: 0 !important;
    }

    .band .drawer-input label,
    .band .drawer-input input[type="color"],
    .band .drawer-input input[type="date"],
    .band .drawer-input input[type="datetime"],
    .band .drawer-input input[type="datetime-local"],
    .band .drawer-input input[type="email"],
    .band .drawer-input input[type="month"],
    .band .drawer-input input[type="number"],
    .band .drawer-input input[type="password"],
    .band .drawer-input input[type="search"],
    .band .drawer-input input[type="tel"],
    .band .drawer-input input[type="text"],
    .band .drawer-input input[type="time"],
    .band .drawer-input input[type="url"],
    .band .drawer-input input[type="week"],
    .band .drawer-input textarea{
        width: 100% !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
        text-align: left !important;
    }
}