/* BASE COLORS */
.box{
    color: #ececec;
}

.band button,
.band input[type="submit"],
.band a.button{
    color: #000;
    background: #d0cece;
    border: 2px solid #d0cece;
}

.band button:hover,
.band input[type="submit"]:hover,
.band a.button:hover{
    color: #d0cece;
    background: rgba(0, 0, 0, 0.1);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#1a000000', endColorstr='#1a000000');
}

.band a:before{
    border-color: #000000 #000000 #000000 #333;/*ie*/
    border-color: transparent transparent transparent #333;
}

.band figure.drawer-img img{
    border-color: #ececec;
}

.band input[type="color"],
.band input[type="date"],
.band input[type="datetime"],
.band input[type="datetime-local"],
.band input[type="email"],
.band input[type="month"],
.band input[type="number"],
.band input[type="password"],
.band input[type="search"],
.band input[type="tel"],
.band input[type="text"],
.band input[type="time"],
.band input[type="url"],
.band input[type="week"],
.band textarea{
    background-color: #fff;
    border-color: #b8b8b8;
}
 
.band textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.band textarea::-webkit-scrollbar-thumb {
  background-color: #989898;
  outline: 1px solid #989898;
}

.band input[type="button"],
.band input[type="reset"],
.band input[type="submit"]{
    color: #fff;
    background-color: #b5b5b5;
    border-color: #b5b5b5;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989898', endColorstr='#989898',GradientType=0 ); /* IE6-8 */
}

.band input[type="button"]:hover,
.band input[type="reset"]:hover,
.band input[type="submit"]:hover{
    color: #fff;
    border-color: #b5b5b5;
    background: rgba(0, 0, 0, 0.2);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#33000000', endColorstr='#33000000');
}

.band .drawer-img i {
    color: #474747;
    background: #ececec;
    border: 2px solid #ececec;
}

.band .drawer-img i:hover{
    color: #ececec;
    background: rgba(0, 0, 0, 0.2);
    border-color: #ececec;
}

.band.feedback .drawer .drawer-body .drawer-txt{
    color: #222;
    background-color: #fff;
}

.band.feedback .drawer .drawer-body figure span:first-child:after{
    border-color: transparent rgba(0, 0, 0, 0.9) transparent transparent;
}


/* WHITE */
.band.c-white{
    background: #fff;
    color: #222;
}

/* GRAY */
.band.c-gray, 
.band .c-gray{
    background: #dedede;
    color: #000;
}

.band.c-gray figure.drawer-img img{
    border-color: #000;
}

.band.c-light, 
.band .c-light{
    background: #ececec;
    color: #000000;
}

.band.c-gray figure.drawer-img img{
    border-color: #000;
}

/* BLUE */
.band.c-blue,
.band .c-blue{
    background: #2a629e;
    color: #fff;
}

/* ORANGE */
.band.c-orange,
.band .c-orange{
    background: #f69601;
    color: #fff;
}

/* GREEN */
.band.c-green,
.band .c-green{
    background: #01795d;
    color: #fff;
}

/* RED */
.band.c-red,
.band .c-red{
    background: #cd2027;
    color: #fff;
}

/* DARK */
.band.c-dark,
.band .c-dark{
    background: #222;
    color: #fff;
}

/* AUTO COLOR */
.band.c-auto:nth-child(1),
.band.c-auto:nth-child(5),
.band.c-auto:nth-child(9){
    background: #fff;
    color: #222;
}
.band.c-auto:nth-child(2),
.band.c-auto:nth-child(8){
    background: #01795d;
    color: #fff;
}
.band.c-auto:nth-child(3),
.band.c-auto:nth-child(7),
.band.c-auto:nth-child(11){
    background: #dedede;
    color: #000;
}
.band.c-auto:nth-child(4),
.band.c-auto:nth-child(10){
    background: #f69601;
    color: #fff;
}
.band.c-auto:nth-child(6),
.band.c-auto:nth-child(12){
    background: #01795d;
    color: #fff;
}