@import "fonts.css";


html, body {
    background: none repeat scroll 0 0 #efefef !important;
    font-family: "Titillium Web",sans-serif !important;
    font-size: 12px;
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0 !important;
}

p {font-size : 15px !important;}
H1 {font-size : 22px !important;}
H2 {font-size : 18px !important;}

/* hidded to fix box slider layout error
li {
    overflow: hidden;
    padding: 6px 30px 7px 10px;
    text-decoration: none;
    text-overflow: ellipsis;
}
*/
a {
    color:#000 !important;
}

.menu-icon{
    display : block;
    float : right;	
}

.submenu{
    margin-left : 10px;
}

.panel-heading {
    padding: 5px 15px !important;
}

.panel-heading-small {
    padding: 5px 5px !important;
}

.panel {
    margin-top : 0px !important;
}

.float_left {
    float: left;
}

.float_right{
    float: right;
}

.box {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #FFF;
    padding: 10px;
}

#footer_boxes {
    text-align: center;
}

#footer_boxes .box, #seo_boxes .box {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    position: relative;
    width: 310px;
    vertical-align: top;
}


#seo_boxes { padding-top: 40px; padding-bottom: 20px; text-align: center; width: 100%; margin: auto; }

#seo_boxes .box {
    cursor: inherit;
}
#seo_boxes h1, #seo_boxes h2 { 
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color: #000;
} 



/* -------------- MAIN LAYOUT  */ 

#nazione_button {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #929292;
    color: #717171;
    font-weight: 700;
    margin-right: 5px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 88px;
}


#nazione_select_list {
    background: #FFF;
    border: 1px solid #CCC;
    z-index: 9999;
    position: absolute;
    width: 100%;
    top: 21px;
    display: none;
}

#nazione_select:hover #nazione_select_list {
    display: block;
}

.country_item { 
    padding: 3px; 
    font-weight: 700; 
    background: #FFF; 
    text-align: left; 
    color: #717171; 
    text-transform: uppercase;
}

#nazione_select img {
    margin-bottom: 4px;
}
#languages .lang {
    color: #787879;
    cursor: pointer;
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 1px;
}

#languages { 
    margin-top:5px; 
    margin-left: 65px; 
    font-weight: 300;
}
#languages .lang { cursor: pointer; margin-left: 5px; margin-right: 5px; font-size: 13px; color: #787879; padding-top: 1px; }

#languages .active, #languages .lang:hover { font-weight: 900; color: #f78c31; }

#languages .lang {
    color: #787879;
    cursor: pointer;
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 1px;
}

#header_phone {
    margin-left: 20px;
    padding-top: 14px;
}
#header_phone img {
    margin-right: 5px;
}
#header_phone span {
    color: #717171;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    text-decoration: underline;
}

/*---------------------------BOX */
.box h3 {
    border-bottom: 2px solid #a8a8a8;
    color: #777777;
    font-size: 25px;
    font-weight: 600;
    min-height: 50px;
    margin: 0;
    line-height: 1em;
    padding: 0;
}
.box h3.left {
    text-align: left;
}
.box .box_content {
    height: 250px;
    margin-top: 10px;
}
.box .box_content img {
    max-height: 150px;
    max-width: 100%;
}
.box .box_content img.full {
    max-height: none;
    max-width: 90%;
}
.box .box_content a {
    text-decoration: none;
}
.box_content ul li {
    height: 260px;
    list-style: outside none none;
}
.box_content ul {
    margin: 0;
    padding: 0;
}
.box p {
    color: #717171;
    text-align: left;
    font-size: 12px;

}
.box p.box_italic {
    font-style: italic;
    font-size : 12px !important;
}
.plus_mini {
    float: right;
    margin-bottom: 6px;
}
.box_hover {
    background: url("../images/home/bg_over_icon.png") repeat scroll left top rgba(0, 0, 0, 0);
    border-radius: 10px;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.box_hover img {
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    position: absolute;
    top: 50%;
}
.box_row .table {
    display: table;
    height: 115px;
    width: 100%;
}
.box_row .image {
    display: table-cell;
    height: 115px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    width: 90%;
}
.box_row .arrow {
    display: table-cell;
    height: 115px;
    padding-left: 5px;
    vertical-align: middle;
}
.box_row .image img {
    max-height: 80%;
    max-width: 80%;
}
.box_row .text {
    color: #717171;
    float: left;
    font-style: italic;
    text-align: left;
    width: 70%;
}
.box_row .text div {
    padding-left: 10px;
}
.box_row .text .continue_icon {
    float: right;
    position: relative;
    top: -5px;
}
.box_row {
    height: 115px;
    padding-top: 10px;
}
div.box:hover .box_hover {
    display: block;
    transition-duration: 1500ms, 150ms, 0s;
    transition-property: display;
    transition-timing-function: ease-in-out, ease-in-out, linear;
}
div.box:hover {
}
/*---------------------------SOCIAL */

#social_menu {
    margin-bottom : 5px;
}

.social_image {
    margin : 2px;	
}
/*---------------------------LOGO */

#logo{
    margin: 21px 0 0 9px;
    padding: 0;
}

#payoff{
    margin: 7px 0 0 7px;
}

#footer {
    margin-top: 20px;
    width: 100%;
    background: none repeat scroll 0 0 #717171;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
}

/*--------------- DOVE SIAMO  */

#dove-siamo .band .drawer {
    display: inline-block;
    height: 450px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    overflow: hidden;
    width: 260px;
}
.band:not(.m-no):not(.m480) .drawer:not(.m-no):not(.m767):not(.m480), .band.m767 .drawer:not(.m-no):not(.m767):not(.m480), .drawer.m767 {
    display: table-row;
}

.band .drawer {
    display: table-cell;
    font-size: 14px;
    position: relative;
    vertical-align: top;
    width: 100%;
}
.band-inner > * {
    border-collapse: collapse;
    border-spacing: 0;
}
.band-inner {
    border-collapse: separate;
    border-spacing: 1em 0;
}
.band.c-white {
    color: #222;
}
.band {
    font-size: 84%;
}

.footer_boxes {
    text-align: center;
}

img {
    max-width: 100% !important;
}

table {
    max-width: 100% !important;
}

.container-fluid {
    padding: 0px;
}

.content {
    padding: 10px;
}

#mainmenu {
    padding: 15px;
}

#contact-form .row {
    margin: 5px;
}

#contact-form .row input {
    display: block;
    min-width: 100%;
}